<h2 mat-dialog-title  class="font-semibold text-lg border-2px pb-4">Confirm Logout</h2>

<mat-dialog-content  class="dialog-content">

  <!-- BEFORE CONFIRM -->
 <div class="dialog-body">
    Are you sure you want to logout?
  </div>

  <!-- AFTER CONFIRM -->
  <div *ngIf="loggingOut" class=" loading flex flex-col items-center justify-center py-6 gap-4">

    <mat-spinner diameter="50" mode="indeterminate"></mat-spinner>

    <p class="text-lg font-semibold text-blue-900">
      Logging you out...
    </p>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button (click)="onCancel()" [disabled]="loggingOut">
    Cancel
  </button>

  <button mat-raised-button color="warn"
          (click)="startLogout()"
          *ngIf="!loggingOut">
    Logout
  </button>

</mat-dialog-actions>
