<div class="history-main font-[sans-serif] p-3">
    <div class="history-header shadow-md  w-full">
        <mat-card class="history-card shadow-none flex bg-linear-to-r from-blue-950 to-blue-700 p-5 ">
            <mat-card-title class="history-card-title">Review History</mat-card-title>
            <mat-card-subtitle class="history-card-subtitle">View all your past code reviews</mat-card-subtitle>
        </mat-card>

    </div>
    <div class="history-content">
        <div class="bg-white rounded-3xl shadow-sm p-10 mt-10 border border-gray-100">
            <h2 class="text-2xl font-semibold from-blue-950 to-blue-700 bg-clip-text text-transparent bg-linear-to-r">
                All Reviews
            </h2>

            <p class="text-gray-500 mt-2">
                Total reviews: {{reviews.length}}
            </p>
            
            <div *ngIf="reviews.length === 0"
                class="flex flex-col items-center justify-center py-24">

                <div class="bg-gray-100 p-6 rounded-full">
                    <mat-icon class="text-5xl text-gray-500">code</mat-icon>
                </div>

                <h3 class="text-xl text-gray-700 mt-6">
                    No reviews yet
                </h3>

                <p class="text-gray-400 mt-2">
                    Start your first code review to see results here!
                </p>
                <button class="bg-linear-to-r from-blue-950 to-blue-700 text-white p-2 rounded-md w-2xs mt-3 font-[sans-serif] font-bold cursor-pointer" (click)="openCodeEditor()">Start Your First Review</button>
            </div>
            <div *ngIf="reviews.length > 0" class="mt-10 space-y-6">

                <div *ngFor="let review of reviews" class="border border-gray-200 rounded-3xl p-8 hover:shadow-lg transition-all bg-white">

                    <!-- Header -->
                    <div class="flex justify-between items-center">

                        <div class="flex items-center gap-4">

                            <div class="bg-linear-to-r from-blue-950 to-blue-700 p-4 rounded-2xl">

                                <mat-icon class="text-white">
                                    code
                                </mat-icon>

                            </div>

                            <div>

                                <h3 class="text-2xl font-bold text-gray-800">
                                    {{review.language}} Code Review
                                </h3>

                                <p class="text-gray-500 mt-1">
                                    {{review.date}}
                                </p>

                            </div>

                        </div>

                        <button
                         class="bg-linear-to-r from-blue-950 to-blue-700
                        text-white px-5 py-3 rounded-xl
                        hover:scale-105 transition-all">

                            View Report

                        </button>

                    </div>

                        <!-- Scores -->
                    <div class="grid grid-cols-3 gap-6 mt-8">

                        <!-- Quality -->
                        <div class="bg-gray-50 rounded-2xl p-5">

                            <div class="flex justify-between items-center">

                                <h4 class="text-gray-700 font-medium">
                                    Code Quality
                                </h4>

                                <mat-icon class="text-green-600">
                                    trending_up
                                </mat-icon>

                            </div>

                            <p class="text-5xl text-green-600 font-bold mt-5">
                                {{review.quality}}
                                <span class="text-2xl">/100</span>
                            </p>

                            <div class="w-full bg-gray-200 h-3 rounded-full mt-4">

                                <div
                                class="bg-green-500 h-3 rounded-full"
                                [style.width.%]="review.quality">

                            </div>

                        </div>

                    </div>

                </div>

                <!-- Security -->
                <div class="bg-gray-50 rounded-2xl p-5">

                    <div class="flex justify-between items-center">

                        <h4 class="text-gray-700 font-medium">
                            Security
                        </h4>

                        <mat-icon class="text-blue-600">
                            shield
                        </mat-icon>

                    </div>

                    <p class="text-5xl text-blue-600 font-bold mt-5">
                        {{review.security}}
                        <span class="text-2xl">/100</span>
                    </p>

                    <div class="w-full bg-gray-200 h-3 rounded-full mt-4">

                        <div
                        class="bg-blue-500 h-3 rounded-full"
                        [style.width.%]="review.security">

                        </div>

                    </div>

                </div>

                <!-- Performance -->
                <div class="bg-gray-50 rounded-2xl p-5">

                    <div class="flex justify-between items-center">

                        <h4 class="text-gray-700 font-medium">
                            Performance
                        </h4>

                        <mat-icon class="text-amber-600">
                            electric_bolt
                        </mat-icon>

                    </div>

                    <p class="text-5xl text-amber-600 font-bold mt-5">
                        {{review.performance}}
                        <span class="text-2xl">/100</span>
                    </p>

                    <div class="w-full bg-gray-200 h-3 rounded-full mt-4">

                        <div
                        class="bg-amber-500 h-3 rounded-full"
                        [style.width.%]="review.performance">

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>