<div class="bg-white rounded-3xl shadow-md p-10 w-2xl mx-auto mt-10">

    <h1 class="text-4xl font-bold text-center
    bg-linear-to-r from-blue-950 to-blue-700
    bg-clip-text text-transparent">

        AI is Reviewing Your Code...

    </h1>

    <p class="text-center text-gray-500 mt-4">
        Analyzing code structure...
    </p>

    <!-- Progress Bar -->
    <div class="w-full bg-gray-200 rounded-full h-4 mt-8">

        <div
        class="bg-linear-to-r from-blue-950 to-blue-500 h-4 rounded-full transition-all duration-500"
        [style.width.%]="progress">

        </div>

    </div>

    <p class="text-center text-blue-700 mt-3 font-semibold">
        {{progress}}% complete
    </p>

    <!-- Steps -->
    <div class="mt-10 space-y-6">

        <div
        *ngFor="let step of steps; let i=index"
        class="flex items-center gap-4">

            <div
            class="w-8 h-8 rounded-full border-2 flex items-center justify-center"

            [ngClass]="{
              'border-green-500 bg-green-100': i < currentStep,
              'border-blue-500': i === currentStep,
              'border-gray-300': i > currentStep
            }">

                <mat-icon *ngIf="i < currentStep"
                class="text-green-600 text-sm">

                    check

                </mat-icon>

            </div>

            <p
            [ngClass]="{
              'text-black font-medium': i <= currentStep,
              'text-gray-400': i > currentStep
            }">

                {{step}}

            </p>

        </div>

    </div>

</div>