<div class="signup-main flex font-[sans-serif]  bg-blue-100 min-h-screen items-center justify-center p-6">
    <mat-card class="signup-page-card  bg-white flex flex-col items-center justify-center rounded-4xl shadow-10xl p-3 space-y-2  w-lg">
        <mat-card-header>
            <mat-card-title>
                <div class=" absolute top-4 left-4 right-4 flex justify-between">
                    <button (click)="handleAction('back')" class="hover:bg-linear-to-r from-blue-950 to-blue-700 hover:text-white active:scale-95 transition cursor-pointer rounded-full"><mat-icon>arrow_back</mat-icon></button>
                    <button  (click)="handleAction('close')"class="hover:bg-linear-to-r from-blue-950 to-blue-700  hover:text-white active:scale-95 transition cursor-pointer rounded-full"><mat-icon>close</mat-icon></button>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <mat-card class="signup-page-card-title-card p-4 bg-linear-to-r from-blue-950 to-blue-700 flex items-center justify-center rounded-lg shadow-2xl">                            
                        <mat-icon class="signup-icon">code_blocks</mat-icon>
                    </mat-card>
                </div>
            </mat-card-title>
            <mat-card-subtitle class="signup-page-card-subtitle font-[sans-serif] font-bold ">Create an Account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex flex-col space-y-3 w-full">
            <p class="text-gray-500 text-[14px] font-[sans-serif] flex items-center justify-center">Sign up to start reviewing your code with AI</p>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Full Name <span class="text-red-500">*</span></p>
            <mat-form-field appearance="outline" class="w-full" [class.mat-form-field-invalid]="nameError">
                <mat-label class="font-[sans-serif]">Enter Full Name</mat-label>
                <input matInput name="fullname" class="w-full " [(ngModel)]="name" required>
                <mat-error *ngIf="nameError">
                    {{ nameError }}
                </mat-error>
            </mat-form-field>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Email <span class="text-red-500">*</span></p>
            <mat-form-field appearance="outline" class="w-full" [class.mat-form-field-invalid]="emailError">
                <mat-label class="font-[sans-serif]">Enter Email</mat-label>
                <input matInput name="email" class="w-full" [(ngModel)]="email" required>
                <mat-error *ngIf="emailError">
                    {{ emailError }}
                </mat-error>
            </mat-form-field>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Contact Number <span class="text-red-500">*</span></p>
            <mat-form-field appearance="outline" class="w-full" [class.mat-form-field-invalid]="contactError">
                <span matTextPrefix>+91 &nbsp;</span>
                <mat-label class="font-[sans-serif]">Enter Contact Number</mat-label>
                <input type="tel" matInput name= "contact" [(ngModel)]="contact" required>
                <mat-error *ngIf="contactError">
                    {{ contactError }}
                </mat-error>
            </mat-form-field>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Password <span class="text-red-500">*</span></p>
            <mat-form-field appearance="outline" class="w-full" [class.mat-form-field-invalid]="passwordError">
                <mat-label class="font-[sans-serif]">Enter Password</mat-label>
                <input matInput name="password" [type]="hide() ? 'password' : 'text'"  [(ngModel)]="password" required />
                <mat-error *ngIf="passwordError">
                    {{ passwordError }}
                </mat-error>
                <button
                    matIconButton
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Select Security Question <span class="text-red-500">*</span></p>
            <mat-form-field appearance="outline" class="w-full" [class.mat-form-field-invalid]="securityQuestionError">
                <mat-label class="font-[sans-serif]">Select a security question</mat-label>
                <mat-select name="securityQuestion" [(ngModel)]="securityQuestion" required>  
                    <mat-option value="Select">Select</mat-option>
                    <mat-option value="What was the first programming language you learned?">What was the first programming language you learned?</mat-option>
                    <mat-option value="What is your favorite programming language?">What is your favorite programming language?</mat-option>
                    <mat-option value="Which code editor do you use the most?">Which code editor do you use the most?</mat-option>
                    <mat-option value="What is the name of your first coding project?">What is the name of your first coding project?</mat-option>
                    <mat-option value="Which platform do you use to store your code repositories?">Which platform do you use to store your code repositories?</mat-option>
                    <mat-option value="Which programming language do you use most often for projects?">Which programming language do you use most often for projects?</mat-option>
                    <mat-option value="What is your favorite web development framework?">What is your favorite web development framework?</mat-option>
                    <mat-option value="Which coding platform do you use for practice?">Which coding platform do you use for practice?</mat-option>
                    <mat-option value="What type of applications do you like to build the most?">What type of applications do you like to build the most?</mat-option>
                    <mat-option value="What is your favorite subject related to programming?">What is your favorite subject related to programming?</mat-option>
                </mat-select>
                <mat-error *ngIf="securityQuestionError">
                    {{ securityQuestionError }}
                </mat-error>
            </mat-form-field>
            <p class="font-bold text-[14px]  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">Security Question Answer <span class="text-red-500">*</span></p>
            <mat-form-field class="w-full" appearance="outline" [class.mat-form-field-invalid]="securityAnswerError">
                <mat-label class="font-[sans-serif]">Enter Answer</mat-label>
                <input matInput name="securityAnswer" [(ngModel)]="securityAnswer" required>
                <mat-error *ngIf="securityAnswerError">
                    {{ securityAnswerError }}
                </mat-error>
            </mat-form-field>
            <p *ngIf="signupMessage" class="text-green-600 text-center font-medium mt-2">
                    {{ signupMessage }}
            </p>
            <button type="button" matButton="filled" class="signup-page-signup-button w-full flex items-center" (click)="signup()" [disabled]="loading">Sign Up</button>
            <div *ngIf="loading" class="fixed inset-0 flex flex-col items-center justify-center bg-white z-50">
                
                <mat-spinner diameter="60"></mat-spinner>

                <p class="mt-5 text-lg font-semibold text-blue-900">
                    Creating your account...
                </p>

            </div>
            <div class="flex items-center justify-center">
                <p>Already have an account?</p>
                <button class=" font-bold bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent hover:bg-blue-700 cursor-pointer" routerLink="/">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
