.code-review-main{
    .code-review-header{
        .welcome-card{
            .welcome-card-title{
                font-size: 24px;
                font-family: sans-serif;
                color: white;
            }
            .welcome-card-subtitle{
                font-size: 16px;
                font-family: sans-serif;
                color: white;
            }
        }

    }
    .code-review-content {
        .code-review-codequality-card{
            background-color: white;
            .code-review-codequality-card-title{
                      font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .code-review-codequality-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: green;
            }
            .code-review-codequality-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
        .code-review-securityscore-card{
            background-color: white;
            .code-review-securityscore-card-title{
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .code-review-securityscore-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: red;
            }
            .code-review-securityscore-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
        .code-review-performance-card {
            background-color: white;
            .code-review-performance-card-title{
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .code-review-performance-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: brown;
            }
            .code-review-performance-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
    }
}