.dashboard-main{
    .dashboard-header{
        .welcome-card {
            .welcome-card-title{
                font-size: 24px;
                font-family: sans-serif;
                color: white;
                font-weight: bold;
            }
            .welcome-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: white;
            }
        }
        
    }
    .dashboard-content{
        .dashboard-codequality-card{
            background-color: white;
            .dashboard-codequality-card-title{
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .dashboard-codequality-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: green;
            }
            .dashboard-codequality-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
        .dashboard-securityscore-card{
            background-color: white;
            .dashboard-securityscore-card-title{
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .dashboard-securityscore-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: blue;
            }
            .dashboard-securityscore-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
        .dashboard-performance-card{
            background-color: white;
            .dashboard-performance-card-title{
                font-size: 18px;
                font-family: sans-serif;
                font-weight: bold;
                background: linear-gradient(to right, #172554, #1d4ed8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .dashboard-performance-card-subtitle{
                font-size: 14px;
                font-family: sans-serif;
                color: orange;
            }
            .dashboard-performance-card-content{
                p{
                    margin: 0 !important;
                }
            }
        }
    }
}
