<div class="utils-main flex flex-col font-[sans-serif] bg-blue-100 min-h-screen">
    <div class="utils-header sticky top-0 z-50 w-full bg-blue-100 ">
        <mat-card class=" utils-card flex justify-between items-center shadow-none bg-transparent p-3">
            <div class="flex items-center gap-3">

                <div class="bg-linear-to-r from-blue-950 to-blue-700 p-3 rounded-xl flex items-center justify-center">
                    <mat-icon class="login-icon text-white">code</mat-icon>
                </div>

                <span class="text-2xl font-semibold  bg-linear-to-r from-blue-950 to-blue-700 bg-clip-text text-transparent">
                    AI Code Review Assistant
                </span>

            </div>
            <div class="flex items-center gap-8 text-gray-600">

                <button (click)="currentPage='dashboard'" class="flex items-center gap-1  text-black hover:font-bold hover:bg-linear-to-r hover:from-blue-950 hover:to-blue-700 hover:bg-clip-text hover:text-transparent transition-all duration-300 cursor-pointer">
                    <mat-icon>home</mat-icon>
                    Dashboard
                </button>

                <button (click)="currentPage='history'" class="flex items-center gap-1 text-black hover:font-bold hover:bg-linear-to-r hover:from-blue-950 hover:to-blue-700 hover:bg-clip-text hover:text-transparent transition-all duration-300 cursor-pointer">
                    <mat-icon>history</mat-icon>
                    History
                </button>

                <button (click)="currentPage='profile'"  class="flex items-center gap-1  text-black hover:font-bold hover:bg-linear-to-r hover:from-blue-950 hover:to-blue-700 hover:bg-clip-text hover:text-transparent transition-all duration-300 cursor-pointer">
                    <mat-icon>person</mat-icon>
                    Profile
                </button>

                <button matButton="outlined" class="hover:bg-linear-to-r from-blue-950 to-blue-700 hover:text-white text-black px-4 py-2 rounded-lg flex items-center gap-2" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
            </div>
        </mat-card>
    </div>
    <div class="p-6">

        <app-dashboard *ngIf="currentPage === 'dashboard'" (startReview)="goToEditor(false)"></app-dashboard>

        <app-history *ngIf="currentPage === 'history'" (startReview)="goToEditor(false)"></app-history>

        <app-profile *ngIf="currentPage === 'profile'"></app-profile>

        <app-code-editor *ngIf="currentPage === 'code-editor'" [code]="editorCode"   [language]="selected" (cancelReview)="currentPage='dashboard'" (analyzeCode)="startAnalysis($event)"></app-code-editor>

        <app-analyzecode *ngIf="currentPage === 'analyze-code'" (reviewCompleted)="currentPage='code-review'"></app-analyzecode>
        
        <app-code-review *ngIf="currentPage === 'code-review'" [selected]="selected" (anotherReview)="goToEditor(false)" (modify)="goToEditor(true)" (backDashboard)="currentPage='dashboard'"></app-code-review>
    </div>
</div>



